div.signerBox {
    margin: 6%;
    padding: 15px;
    width: 30%;
    flex-direction: column;
    display: flex;
    background-color: blue;
}

p {
    margin: 6%;
    color: blue;
}

h2 {
    color: aliceblue;
}