@import '~src/assets/sass/variables';

div.signerBox {
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $project-grey-color;
    display: flex;
    flex-direction: column;

    h2.signerTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $bl-dark-blue;
    }

    input.signerInput {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}