/* You can add global styles to this file, and also import other style files */
.pdfDisplay {
    background-color: blue
}

div#outlineView {
    background-color: blue;
}

#toolbarViewer {
    height: 32px;
    color: black;
    border-radius: 25px;
}

element.style {
    background-color: white;
}

.pdfViewer {
    background-color: yellow;
}